.guess-board {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.move-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2rem;
    font-weight: 600;
    height: 7.2rem;
    width: 7.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filled-box {
    border: 2px solid black;
    font-size: 3rem;
}

.filled-box-small {
    border: 2px solid black;
    font-size: 2.5rem;
}
  
.move-row {
    display: flex;
}

.chessle-board {
    margin: auto;
    padding: 10px;
    align-items: center;
  }

.chessle-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.chessle-button.undo {
    background-color:#ff0000;
}

.chessle-button.submit {
    background-color:#00cc00;
}

.chessle-button:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
    opacity: 0.8;
}
.chessle-button:active {
	position:relative;
	top:1px;
}