#guess-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .move-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2rem;
    font-weight: 600;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filled-box {
    border: 2px solid black;
    font-size: 2.5rem;
  }

  .filled-box-small {
    border: 2px solid black;
    font-size: 2rem;
  }
  
  .move-row {
    display: flex;
  }

  .chessle-board {
    width: 75%;
    margin: auto;
    padding: 10px;
  }