{% load static %}
{% load opening %}

<html>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chessboard-1.0.0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chessle.css' %}">
    
    <head>
        <title>Chess AI: Chessle</title>
    </head>

    <body>
        
        <div style="width: 90%; margin-left: 10%; margin-right: 10%; margin-top: 5%;">
            
            <div id = "left-containter" style="width: 50%; float: left">
                <div id = "chess-board" style="width:80%;"></div>
            </div>

            <div id = "right-container "style="margin-left: 50%">

                <div id = "guess-board" style="margin-top: 15px;"></div>

                <div id = "buttons" style="margin-left: 21%;">
                    <button onclick = "checkGuessHTML()" class="chessle-button"> Guess </button>
                    <button onclick = "removeGuessHTML()" class="chessle-button" style="color:red;"> Undo </button>
                    <button onclick = "requestOpeningHTML()" class="chessle-button" style="color:green;"> New </button>
                </div>

                
            </div>
        </div>
        


        <script src="{% static 'js/jquery-3.7.0.js' %}"></script> 
        <script src="{% static 'js/chessboard-1.0.0.js' %}"></script>
        <script src="{% static 'js/chess-0.12.0.js' %}"></script>
        <script src="{% static 'js/setupboard.js' %}"></script>
        
        <!-- ---------------------------------------------------------------------- -->
        <!-- Defines chessle logic. Submitting full guesses or removing a guess. -->
        <!-- ---------------------------------------------------------------------- -->
        <script>
            // resets the game if the guess is wrong
            function checkGuessHTML() {
                if (checkGuess() == false) {
                    //runs resetGame() with a delay to match the box coloring
                    setTimeout(()=> {
                        resetGame()
                    }, 850)
                }
            }
            // undo last move
            function removeGuessHTML() {
                removeGuess()
                game.undo()
                board.position(game.fen())
            }

            function requestOpeningHTML() {
                "{% requestOpening %}"
                resetGame()
            }
        </script>
        
        <!-- ---------------------------------------------------------------------- -->
        <!-- Defines standard chess logic. Adds guess to box after valid move/drop  -->
        <!-- ---------------------------------------------------------------------- -->
        <script>
            
            function onDragStart (source, piece, position, orientation) {
                // do not pick up pieces if the game is over
                if (game.game_over()) return false

                // only pick up pieces for the side to move
                if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
                    (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
                    return false
                }
            }
            // update the board position after the piece snap
            // for castling, en passant, pawn promotion
            function onSnapEnd () {
                board.position(game.fen())
            }

            function onDrop (source, target) {
                // see if the move is legal
                var move = game.move({
                    from: source,
                    to: target,
                    promotion: 'q' // NOTE: always promote to a queen
                })
                
                // illegal move
                if (move === null) return 'snapback'

                // Adds the last half move in the current PNG
                var pgnString = game.pgn().split(' ')
                var len = pgnString.length
                addGuess(pgnString[len-1]) //addGuess function in chessle.js
            }

            function resetGame() {
                game.load(initialfen)
                board.position(initialfen)
            }

            
        // -------------------------------------------------------------------------
        // Sets up starting game state and board
        // -------------------------------------------------------------------------
            const game = new Chess()

            var config = {
                draggable: true,
                position: 'start',
                onDrop: onDrop,
                onSnapEnd: onSnapEnd
            }
            var board = Chessboard('chess-board', config)
            
            startChessle("{% requestOpening %}")
            

            game.move(intialPosition[0])
            game.move(intialPosition[1])
            
            var initialfen = game.fen()
            board.position(initialfen)
           
        </script>


    </body>
</html>
