{% load static %}

<html>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chessboard-1.0.0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chessle.css' %}">
    
    <head>
        <title>Chess AI: Chessle</title>
    </head>

    <body>
        
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="tab-container">
                    <button class="tablink" onclick="switchTab('beginner-tab')">Beginner Analysis</button>
                    <button class="tablink" onclick="switchTab('expert-tab')">Expert Analysis</button>
                    <button class="tablink" onclick="switchTab('custom-analysis-tab')">Custom Analysis</button>
                    <!-- <button class="tablink" onclick="switchTab('paragraph2')">Paragraph 2</button> -->
                </div>

                <div id = "beginner-tab">
                    <p class = "tabcontent"> GPT-4 Prompt: Give positional ideas in this opening at a beginner level. </p>
                    <p id="beginner-text" class = "tabcontent"></p>
                </div>
                
                <div id = "expert-tab" style="display: none;">
                    <p class = "tabcontent"> GPT-4 Prompt: Give positional ideas in this opening at a 1700+ level. </p>
                    <p id="expert-text" class = "tabcontent"></p>
                </div>
                
                
                <div id = custom-analysis-tab style="display:none;">
                    <input id="custom-analysis-input" type="text" placeholder="(gpt-3.5-turbo) What would you like to know about this position? e.g. What advantages does the white position have? ">
                    <button id="custom-analysis-button" onclick=getCustomAnalysis()>Submit</button>
                    <p id="custom-text" class="tabcontent"></p>
                </div>
                
                <!-- <p id="paragraph4" class="tabcontent" style="display: none;">Loading...</p>  -->
            </div>
        </div>

        <div class="container">
            
            <div class = "left-container">
                <div id = "chess-board"></div>
            </div>

            <div id = "buttons" class="buttons">
                <button onclick = "checkGuessHTML()" class="chessle-button guess"> Guess </button>
                <button onclick = "removeGuessHTML()" class="chessle-button undo"> Undo </button>
                <button onclick = "loadCorrect()" class="chessle-button load "> Load Correct </button>
                <button onclick = "cheat()" class="chessle-button analyze" style="margin-top: 30px;"> Cheat </button>
                <button onclick = "openAnalysisWindow()" class="chessle-button analyze "> Analysis </button>
            </div>
            
            <div class ="right-container">
                <div id = "guess-board"></div>
            </div>
        </div>

        <div class = "about"> 
            ChessAI Chessle v0.2 (not window size friendly) |&nbsp; <a href="https://github.com/ConnerMcCarthy/chessAI"> Github</a>
            &nbsp;| tips: in analysis use left and right arrow keys to view the opening
        </div>
        
        
        <script src="{% static 'js/jquery-3.7.0.js' %}"></script> 
        <script src="{% static 'js/chessboard-1.0.0.js' %}"></script>
        <script src="{% static 'js/chess-0.12.0.js' %}"></script>
        <script src="{% static 'js/setupboard.js' %}"></script>
        
        <!-- ---------------------------------------------------------------------- -->
        <!-- Defines chessle logic. Submitting full guesses or removing a guess. -->
        <!-- ---------------------------------------------------------------------- -->
        <script>
            // Resets the game if the guess is wrong
            function checkGuessHTML() {
                if (checkGuess() == false) {
                    //runs resetGame() with a delay to match the box coloring
                    setTimeout(()=> {
                        resetGame()
                    }, 850)
                }
            }

            function removeGuessHTML() {
                // Prevents undoing the first two moves
                if (game.fen() === intialFen) {
                    console.log("This thingk")
                    return
                }
                removeGuess()
                game.undo()
                board.position(game.fen())
            }

            function requestOpeningHTML() {
                resetChessle()
                startChessle(opening_string)
                resetGame()
            }

            // Restarts the game and guesses the right answer
            function cheat() {
                
                requestOpeningHTML() //TODO works for now but doesnt make much sense
                for(let i = 0; i < 6; i++) {
                    addGuess(correctGuess[i])
                    game.move(correctGuess[i])
                    board.position(game.fen())
                    //TODO function for the above line? updateBoardState
                }
                checkGuessHTML()
            }

            async function fetch_analysis() {
                let inputValue = document.getElementById('custom-analysis-input').value
                const response = await fetch(`/api/get_analysis/?custom=${encodeURIComponent(game.pgn() + "\n" + inputValue)}`)
                const data = await response.json()
                analysis = data.analysis.replace(/\n/g, '\<br\>') //replace /n with <br> for html text
                
            }

            //TODO maybe pass analysis instead of having it be a variable
            async function getCustomAnalysis() {
                let customText = document.getElementById('custom-text')
                customText.textContent = "Loading... ~5 seconds"
                await fetch_analysis()
                customText.innerHTML = analysis
            }
            
            //TODO change this daily and move to an api maybe.
            const beginner_analysis = 
               "1. Control the center: One of the fundamental principles of chess is controlling the center. The pawns on d5 and e6 are doing this for Black, while White has moved their e and f pawns. <br><br> \
                2. Knight on f3: By developing the knight to f3, White is aiming to control the center squares d4 and e5. This knight also provides additional control over the center, particularly the e5 square, and prepares for the potential castling. <br><br> \
                3. Bishop on b5: This bishop move applies pressure on the knight on c6. This knight is a key defender of the d5 pawn, and the bishop's positioning may induce a weakness in Black's pawn structure if Black decides to break the pin with a pawn move like a6 or d7-d6. <br><br> \
                4. Bishop on b5: This bishop move applies pressure on the knight on c6. This knight is a key defender of the d5 pawn, and the bishop's positioning may induce a weakness in Black's pawn structure if Black decides to break the pin with a pawn move like a6 or d7-d6. <br><br> \
                5. Pawn at f4: White's pawn on f4 has opened up the possibility of a bishop development to the c1-h6 diagonal. This can become a sharp weapon, especially after castling. However, it's worth noting that this pawn could become a weakness in the future as it's not protected by other pawns and is on the half-open file, making it a potential target. <br><br> \
                6. Development and King safety: It's also important to consider where each side may consider castling. At this point in the game, both players should be thinking about how to complete development, i.e., getting all of their pieces off the back rank and into the game. As a rule, you generally want to avoid moving the same piece multiple times in the opening to allow for efficient development. \
                In summary, both sides should focus on piece development, control of the center, and preparing to castle for king safety. How they decide to deal with the bishop pins (Bb5 and Bg4) will significantly influence the pawn structure and potential imbalances in the position, which they can exploit in the middlegame."
            const expert_analysis = 
               "1. f4: This is the Bird's Opening, aiming to control the e5 square and prepare for potential expansion on the kingside. <br><br> \
                2. Nf3: A logical move that supports the control of the central e5 square, prepares for kingside castling, and allows for the queen's bishop to be developed. <br><br> \
                3. e3: Solidifies the control over the d4 square, opens lines for the queen's bishop and queen, but limits the queen's knight's natural development square on d2. <br><br> \
                4. Bb5: Pinning the knight to the king, and may be preparing to double the pawns after Bxc6. <br><br><br> \
                Here are some strategic considerations and ideas after 4...e6 <br><br><br> \
                1. The Black bishop on g4 pins the white knight on f3. An early h3 might be beneficial to break the pin and put the question to the bishop. <br><br> \
                2. White's Bb5 move pins the knight, which could be a preparation to double Black's pawns with Bxc6. <br><br> \
                3. White could consider d3 and Nbd2 for a solid setup, though this would allow Black the chance to play Bxf3 and damage White's pawn structure. <br><br> \
                4. As for Black, the f6 square could be a suitable spot for the knight after e5 is played. The knight could also consider going to e7, aiming for f5 if White castles kingside.<br><br> \
                5. The e6 move by Black has prepared to develop the light-squared bishop. It could be beneficial for Black to consider a setup with Nge7, Ng6, and Be7, aiming for O-O and preparing for e5 to challenge White's control of this key central square. <br><br> \
                6. A typical plan for White in this position can be to castle kingside, push the central pawns with d3 and e4, aiming for a strong pawn center. <br><br> \
                7. On the other hand, Black could aim for a quick ...e5, breaking in the center. After ...e5, if White responds with fxe5, Black has the option of ...Nxe5, bringing the knight to a very strong central square. <br><br> \
                8. Finally, both sides should also consider the minority attack as a strategic plan for the future. For White, a3 and b4, for Black, ...a6 and ...b5 could become ideas to weaken the opponent's pawn structure on the queenside. <br><br> \
                Remember, these are just ideas, and the best plan often depends on how your opponent responds to your moves!"
            async function openAnalysisWindow() {
                
                cheat() //TODO temp

                let modal = document.getElementById('myModal')
                let beginner = document.getElementById('beginner-text')
                let expert = document.getElementById('expert-text')
                let custom = document.getElementById('custom-text')
                
                beginner.innerHTML = beginner_analysis
                expert.innerHTML = expert_analysis
                
                // Get the <span> element that closes the modal
                let span = document.getElementsByClassName('close')[0]
                span.onclick = function() {
                    modal.style.display = 'none'
                }
                // Function to open the modal
                function openModal() {
                    modal.style.display = 'block'
                }
                openModal()             
            }

            function switchTab(id) {
                // Get the paragraphs
                let beginner = document.getElementById('beginner-tab');
                let expert = document.getElementById('expert-tab');
                let custom = document.getElementById('custom-analysis-tab');

                // Hide both paragraphs
                beginner.style.display = 'none';
                expert.style.display = 'none';
                custom.style.display = 'none';

                // Show the selected paragraph
                document.getElementById(id).style.display = 'block';
            }
        </script>
        
        <!-- ---------------------------------------------------------------------- -->
        <!-- Defines standard chess logic. Adds guess to box after valid move/drop  -->
        <!-- ---------------------------------------------------------------------- -->
        <script>
            
            function onDragStart (source, piece, position, orientation) {
                // do not pick up pieces if the game is over
                if (game.game_over()) return false

                // only pick up pieces for the side to move
                if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
                    (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
                    return false
                }
            }
            // update the board position after the piece snap
            // for castling, en passant, pawn promotion
            function onSnapEnd () {
                board.position(game.fen())
            }

            function onDrop (source, target) {
                // see if the move is legal
                let move = game.move({
                    from: source,
                    to: target,
                    promotion: 'q' // NOTE: always promote to a queen
                })
                
                // illegal move
                if (move === null) return 'snapback'

                // Adds the last half move in the current PNG
                let pgnString = game.pgn().split(' ')
                let len = pgnString.length
                addGuess(pgnString[len-1]) //addGuess function in chessle.js
            }

            //TODO maybe can just call loadPGN instead of defining a new chess
            function resetGame() {
                game = new Chess()
                game.move(intialPosition[0])
                game.move(intialPosition[1])
                
                intialFen = game.fen()
                board.position(intialFen)
            }

            
        // -------------------------------------------------------------------------
        // Sets up starting game state and board
        // -------------------------------------------------------------------------
            var game = new Chess()

            let config = {
                draggable: true,
                position: 'start',
                onDrop: onDrop,
                onSnapEnd: onSnapEnd
            }
            var board = Chessboard('chess-board', config)
            
            var opening_string = "f4 d5 Nf3 Nc6 e3 Bg4 Bb5 e6"
            var analysis = "No analysis... Refresh to display"
            startChessle(opening_string)
            resetGame()
           
        </script>


    </body>
</html>