{% load static %}

<link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.css' %}">
<link rel="stylesheet" href="{% static 'css/chessle.css' %}">
<html>
    <head>
        <title>Chess AI: Chessle</title>
    </head>

    <body>
        
        <div id = "chess-board" class='chessle-board'></div>
        <div id = "guess-board"></div>
        
        <script src="{% static 'js/jquery-3.7.0.js' %}"></script> 
        <script src="{% static 'js/chessboard-1.0.0.js' %}"></script>
        <script src="{% static 'js/chess-0.12.0.js' %}"></script>
        <script src="{% static 'js/setupboard.js' %}"></script>
        
        <!-- Defines standard chess logic. Adds guess to box after move/drop -->
        <script>
            function onDragStart (source, piece, position, orientation) {
                // do not pick up pieces if the game is over
                if (game.game_over()) return false

                // only pick up pieces for the side to move
                if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
                    (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
                    return false
                }
            }
            // update the board position after the piece snap
            // for castling, en passant, pawn promotion
            function onSnapEnd () {
                board.position(game.pgn())
            }

            function onDrop (source, target) {
                // see if the move is legal
                var move = game.move({
                    from: source,
                    to: target,
                    promotion: 'q' // NOTE: always promote to a queen for example simplicity
                })
                
                // illegal move
                if (move === null) return 'snapback'

                var pgnString = game.pgn().split(' ')
                var len = pgnString.length
                console.log(pgnString)
                insertGuess(pgnString[len-1])
            }
            
            //Sets up game state and board
            const game = new Chess()

            var config = {
                draggable: true,
                position: 'start',
                onDrop: onDrop,
                onSnapEnd: onSnapEnd
            }
            var board = Chessboard('chess-board', config)
           
        </script>
        
    </body>
</html>
